/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.heroTitle b {
  color: var(--ifm-color-primary-contrast-foreground);
}

.heroLogo {
  float: right;
  height: auto;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons a {
  margin: 0 0.5rem;
  --ifm-button-size-multiplier: 1.5;
}
